<% provide(:title, "Caracteristicas") %>
<h4>esta es una aplicacion para la administracion de recursos humanos desarrollada para el deposito san cayetano.</h4>
<h3>desrrollada en ruby on rails en windows server.</h3>
<h5>optimizada para que el contenido se adapte correctamente en los navegadores
internet exporer, mozilla firefox, google chrome, zafari y en la patalla de cualquier dispositivo movil celular o tablet.
</h5>