<% provide(:title, "Caracteristicas") %>
<h4>esta es una aplicacion para la administracion de recursos humanos desarrollada para el deposito san cayetano.</h4>
<h5>rails & capybara en windows server.</h5>
