<p>
  <strong>Nombre:</strong>
  <%= @cv.name %>
</p> 
<p>
  <strong>lastname:</strong>
  <%= @cv.lastname %>
</p>
<p>
  <strong>Picture:</strong>
  <%= @cv.picture %>
</p>
 <p>
  <strong>Cargo:</strong>
  <%= @cv.job %>
</p>